*,
:before,
:after {
 box-sizing: border-box;
 font-weight: 300;
}

body {
 max-width: 800px;
 margin: 10px auto;
 font-family: sans-serif;
}

.section {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.header {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-bottom: 15px;
 border-bottom-color: grey;
 border-bottom-style: solid;
 border-bottom-width: 1px;

}

.name-work {
 display: flex;
 align-items: flex-end;
}

main {
 width: 100%;
 height: 100%;
}

h1,
h2 {
 display: block;
 text-align: center;
 margin: 0;
}

.name {
 margin: 15px 0;
}

.img-block {
 width: 100%;
 height: 100%;
 height: inherit;
 display: flex;
 justify-content: space-around;
}

.img1,
.img2 {
 width: 50%;
}